<ul class="auth-form-password-rules-list hidden">
  <li class="auth-form-password-rules-list-item" data-condition="length">
    <div class="icon-wrap">
      {{media.icon('wrong-pass')}}
      {{media.icon('correct-pass')}}
    </div>
    <span class="text">Be at least 8 characters long</span>
  </li>
  <li class="auth-form-password-rules-list-item" data-condition="uppercase">
    <div class="icon-wrap">
      {{media.icon('wrong-pass')}}
      {{media.icon('correct-pass')}}
    </div>
    <span class="text">Contain at least one uppercase letter</span>
  </li>
  <li class="auth-form-password-rules-list-item" data-condition="number">
    <div class="icon-wrap">
      {{media.icon('wrong-pass')}}
      {{media.icon('correct-pass')}}
    </div>
    <span class="text">Contain at least 1 number </span>
  </li>
</ul>
<p class="auth-form-empty-password-text">Pick a unique, strong password for better security.</p>