{% set tab_triggers = json('cases/overview-table-tabs') %}
{% set table = json('cases/overview-cases') %}

<section id="overviewWidgets" class="overview-section__widgets">
    <div class="overview-widgets__line-wrap">
        <div class="overview-widgets__line">
            <div class="overview-widgets__widget owidget--peport">
                <div class="overview-widgets__widget-value">5</div>
                <div class="overview-widgets__widget-title">Reports Requested</div>
            </div>
            <div class="overview-widgets__widget-separator"></div>
            <div class="overview-widgets__widget owidget--exhibits">
                <div class="overview-widgets__widget-value">150</div>
                <div class="overview-widgets__widget-title">Exhibits Uploaded</div>
            </div>
            <div class="overview-widgets__widget-separator"></div>
            <div class="overview-widgets__widget owidget--pages">
                <div class="overview-widgets__widget-value">4,289</div>
                <div class="overview-widgets__widget-title">Pages Uploaded</div>
            </div>
            <div class="overview-widgets__widget-separator"></div>
            <div class="overview-widgets__widget owidget--peport-generated">
                <div class="overview-widgets__widget-value important">3</div>
                <div class="overview-widgets__widget-title">Reports Generated</div>
            </div>
            <div class="overview-widgets__widget-separator"></div>
            <div class="overview-widgets__widget owidget--avg-rgt">
                <div class="overview-widgets__widget-value">20 <span>Hours</span> 18 <span>Minutes</span></div>
                <div class="overview-widgets__widget-title">Avg. Report Generation Time</div>
            </div>
        </div>
    </div>
</section>

<section class="overview-section__cases">
    <div class="mb-3">
        <h2 class="overview-heading__title">Recent Cases</h2>
    </div>
    <div class="d-flex align-items-center justify-content-between cases-body-head">
        <ul class="nav nav-tabs mb-0" id="tab" role="tablist">
            {% for trigger in tab_triggers %}
                {{ btn.tab_trigger(trigger) }}
            {% endfor %}
        </ul>

        {{btn.primary({
            inner: "new Report",
            icon: "plus",
            data_id_modal: "report-type"
        })}}
    </div>

    <div class="tab-content" id="OverviewResentCasesTabContent">
        <div class="tab-pane fade show active" id="tab1-pane" role="tabpanel" aria-labelledby="tab1" tabindex="0">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Order No./<br> Claim No.</th>
                        <th scope="col">
                            Order Date
                            <button type="button" class="table-btn">
                                {{ media.icon('arrows-sort') }}
                            </button>
                        </th>
                        <th scope="col">
                            Case Name
                            <button type="button" class="table-btn">
                                {{ media.icon('arrows-sort') }}
                            </button>
                        </th>
                        <th scope="col">Report Type</th>
                        <th scope="col">Submitted</th>
                        <th scope="col" colspan="2">
                            Progress Tracker
                            <button type="button" class="table-btn">
                                {{ media.icon('arrows-sort') }}
                            </button>
                        </th>
                        <th scope="col" class="text-center">Details</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in table %}
                        {% include '../../components/table-item.twig' with {
                            item: item
                        } %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tab-pane fade" id="tab2-pane" role="tabpanel" aria-labelledby="tab2" tabindex="0">
            {% include '../../components/empty-table.twig' %}
        </div>
        <div class="tab-pane fade" id="tab3-pane" role="tabpanel" aria-labelledby="tab3" tabindex="0"></div>
        <div class="tab-pane fade" id="disabled-tab-pane" role="tabpanel" aria-labelledby="disabled-tab" tabindex="0">...</div>
    </div>
    <div class="row mt-3">
        <div class="col"><a href="/cases.html" class="btn btn-link overview__link-view-all">View All Cases</a></div>
    </div>
</section>