{% import './media.twig' as media %}

{# Primary btn #}
{#
@params: {
  inner: string,

  class?: string,
  type?: string, - options 'button',
  attr?: data attributes
}
#}
{% macro primary(params) %}
	<button class="btn btn-primary {{ params.class }}" type="{{ params.type|default('button')  }}" aria-label="{{ params.inner }}" {{ params.attr }} {% if params.data_id_modal is defined %} data-bs-toggle="modal" data-bs-target="#{{ params.data_id_modal }}" {% endif %} {% if params.offcanvas_id %} data-bs-toggle="offcanvas" data-bs-target="#{{ params.offcanvas_id }}" aria-controls="{{ params.offcanvas_id }}" {% endif %}>
	{% if params.icon %}
		{{ media.icon(params.icon) }}
	{% endif %}
		{{ params.inner }}
	</button>
{% endmacro %}
{# Primary btn end #}

{# Primary btn #}
{% macro burger(class) %}
	<button class="burger-btn {{ class }}" type="button" aria-label="Navigation menu button">
		<i></i>
		<i></i>
		<i></i>
	</button>
{% endmacro %}
{# Primary btn end #}

{# Link-like button #}
{% macro link(params) %}
	<button class="btn btn-link {{ params.class }}" type="button" aria-label="{{ params.inner }}" {{ params.attr }} {% if params.data_id is defined %} data-modal-id="{{ params.data_id }}" {% endif %}>
		{% if params.icon %}
			{{ media.icon(params.icon) }}
		{% endif %}
		<span>{{ params.inner }}</span>
	</button>
{% endmacro %}
{# Link-like button end #}
{# Tab trigger #}
{% macro tab_trigger(params) %}
	<li class="nav-item" role="presentation">
		<button class="nav-link {{ params.class }}" id="{{ params.id }}" data-bs-toggle="tab" data-bs-target="#{{ params.id }}-pane" type="button" role="tab" aria-controls="{{ params.id }}-pane"{% if params.disabled %} disabled {% endif %} aria-selected="true">{{ params.inner }} {% if params.counter %}<span class="counter">{{ params.counter }}</span> {% endif %}</button>
	</li>
{% endmacro %}
{# Tab trigger end #}
