<li class="user-search-item js-search-filter-item"
  data-name="{{ user.name }}"
  data-id="{{ user.id }}"
  data-email="{{ user.email }}"
  data-position="{{ user.position }}">
  <button class="user-search-item__button" type="button">
    <div class="user-search-item__first-col">
      <div class="user-search-item__initials">
        {{ user.initials }}
      </div>

      <div>
        <p>
          <b>{{ user.name }}</b>
        </p>
        <p>
          {{ user.email }}
        </p>
      </div>
    </div>

    <div class="user-search-item__second-col">
      <p>
        <b>{{ user.position }}</b>
      </p>
      <p>
        <img src="./svg/flags/us.svg" alt="USA flag" with="21" height="13" />
        The Salameh Law Group, P.A.
      </p>
    </div>
  </button>
</li>
