<div class="auth-page__section-header">
  {% include '../../components/component-backbtn.twig' %}
  {% include '../../components/auth-progress-steps.twig' with {
    steps: [
      {
        label: "Email Confirmation",
        done: true
      },
      {
        label: "2FA",
        done: true
      },
      {
        label: "Password",
        done: false
      },
      {
        label: "Account Details ",
        done: false
      }
    ]
  } %}
</div>

<div class="auth-page__section-content">
  <h2 class="auth-page-title">
    Create a password
  </h2>
  <p class="auth-page-subtitle">
    Almost finished! This is the last step in setting up your account.
  </p>
  <div class="d-flex flex-column justify-content-center align-items-center mx-auto auth-page__form-wrap">
    <form class="form js-form auth-page__form" data-href="sign-up-company-information.html" data-validation="password" data-type="password">
      {{form.fieldsForm('form-fields-create-password')}}
      <button class="auth-page-btn auth-page__form-btn" type="submit" aria-label="Continue">Continue</button>
      <span class="js__password-recommendation">Pick a unique, strong password for better security.</span>
      <div class="w-100 password-validation_list js__password-validation_list d-none">
        <div class="password-validation_item js-validation-item" data-collection="password" data-validation="length">
          <div class="password-validation_item-icon">
            {{ media.icon("pass-novalid") }}
            {{ media.icon("pass-valid") }}
          </div>
          Be at least 8 characters long
        </div>
        <div class="password-validation_item js-validation-item" data-collection="password" data-validation="uppercase">
          <div class="password-validation_item-icon">
            {{ media.icon("pass-novalid") }}
            {{ media.icon("pass-valid") }}
          </div>
          Contain at least one uppercase letter
        </div>
        <div class="password-validation_item js-validation-item" data-collection="password" data-validation="number">
          <div class="password-validation_item-icon">
            {{ media.icon("pass-novalid") }}
            {{ media.icon("pass-valid") }}
          </div>
          Contain at least 1 number 
        </div>
      </div>
    </form>
  </div>  
</div>
